/* <style> */
        #map {
            height: 600px;
        }

        .tooltip-class {
            font-weight: bold;
            font-size: 15px;
        }

        /* Preloader styling */
        #preloader {
            position: fixed;
            z-index: 9999;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: rgba(255, 255, 255, 0.8);
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        #preloader h4 {
            font-size: 24px;
            color: #333;
        }
    /* </style> */